<div class="header">
  <div class="titulo"><h1>Alunos</h1></div>
  <div class="botao"><button>cadastrar novo</button></div>
</div>
<div class="filtros">
  <select id="filtroTipo" class="filtroTipo">
    <option value="">Turma</option>
    <option>Turma 1</option>
    <option>Turma 2</option>
    <option>Turma 3</option>
  </select>
  <input
    id="pesquisa"
    type="text"
    class="filtroPesq"
    placeholder="Digite sua busca..."
  />
</div>
<div class="container" appHorizontalScroll [speed]="4">
  <div class="trilha">
    <div class="aluno" *ngFor="let aluno of alunos">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <img src="../../assets/image.jpg" alt="Foto-perfil" class="foto" />
      <h3>{{ aluno.nome }}</h3>
      <p *ngIf="aluno.data_nascimento">
        {{ calcularIdade(aluno.data_nascimento) }} anos
      </p>
      <p *ngIf="!aluno.data_nascimento">Data de nascimento não preenchida</p>
      <p>Turma: 17:50</p>
      <p>Emagrecimento</p>
    </div>
  </div>
</div>
