<div class="container" appHorizontalScroll [speed]="4">
  <div class="cards-track">
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <img src="../../assets/image.jpg" alt="Foto-perfil" class="foto" />
      <h3>Gustavo Carvalho</h3>
      <p>28 Anos</p>
      <p>Turma: 17:50</p>
      <p>Emagrecimento</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 2</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
    <div class="neon">
      <span class="screw top-left"></span>
      <span class="screw top-right"></span>
      <span class="screw bottom-left"></span>
      <span class="screw bottom-right"></span>
      <h3>Aluno 3</h3>
      <p>Descrição</p>
    </div>
  </div>
</div>
