@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.menu-container{
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Michroma', sans-serif;
    font-size: 30px;
    width: max-content;
    font-weight: 800;
    z-index: 1000;
    position: fixed;
    transform: translateX(-100px);
    animation: aparecer 0.4s ease-out forwards;
    opacity: 0;

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



    .lista {
        //  background-image: url('../../assets/cimento.jpg');
        // background-size: cover;
        // background-position:inherit;
        // background-repeat: no-repeat;
        background-color:rgb(255, 255, 255, 0.4) ;
        border: 3px solid rgba(0, 0, 0, 0.8);
        border-radius: 50px; 
        
    }

    .opcoes {
        margin-bottom: 10px;
        cursor: pointer;
        margin: 20px;
        margin-left: 10px;
        justify-items: baseline;
        transition: color 0.3s;
        position: relative;
    }
    .opcoes::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 4px;
        background-color: rgb(154, 122, 82, 0.9);
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.5s ease;
    }

    .opcoes:hover {

        color: black;
        border-radius: 10px;
        width: auto;
        font-size: 30px;
        transform: scale(1.02);
    }
    .opcoes:hover::after {
        transform: scaleX(1);
        }

}